
.idea
*.iml
out
gen

node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.venv
__pycache__

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# QR codes
qr_code

# svelve
.svelte-kit

